@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(196, 196, 237);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
