.btn {
  padding: 10px 26px;
  border: 0;
  border-radius: 6px;
  margin: 1rem 0 0;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(0, 0, 104);
  background-color: rgb(255, 255, 255);
}

.btn:hover,
.btn:active {
  background-color: rgb(223, 223, 255);
}

.btn:active {
  transform: scale(0.97);
}